.SideBarMenu {
	background-color: var(--darkBlue);
	color: var(--blue);
	position: fixed;
	left: 0;
	top: 112px;
	height: calc(100vh - 112px);
	display: flex;
	flex-direction: column;
	transition: left 0.5s;
	font-weight: bold;
	width: 250px;
}

.SideBarMenu.expanded {
	left: 0;
	z-index: 2;
}
.SideBarMenu.collapsed {
	left: -100%;
}
.menuButton {
	display: flex;
	justify-content: flex-end;
}

.hamburgerIcon {
	cursor: pointer;
	border: none;
	background-color: var(--blue);
	color: white;
	padding: 10px;
	width: 68px;
}

.title--img {
	max-height: 120px;
	min-height: 70px;
	padding: 5px;
}

.nav-link {
	color: white;
	text-decoration: none;
	display: block;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
}
.nav-link:hover {
	background-color: rgb(71, 114, 233);
}

.nav-link:hover .tooltip {
	display: inline-block;
	animation-duration: 0.4s;
	animation-name: toolpip;
}
.tooltip {
	position: absolute;
	background-color: rgb(71, 114, 233);
	left: 70px;
	padding: 10px;
	text-transform: capitalize;
	border-radius: 5px;
	display: none;
}
.itemContent {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	transition: width 1s;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 42px;
	height: 42px;
}

.img-icon {
	width: 25px;
	height: 25px;
	filter: invert(100%);
}
.img-icon-d {
	width: 30px;
	padding: 1px;
	margin: 0;
}

.label {
	font-weight: 500;
	margin-left: 10px;
	overflow: hidden;
}

.SideBarMenuItem {
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 5px;
}

.SideBarMenuItem .nav-link {
	color: white;
	text-decoration: none;
	text-align: right;
	display: block;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	text-align: left;
}
