header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
	background-color: var(--darkBlue);
	width: 100%;
	min-height: 112px;
}

/*MENU HAMBURGUESA*/
.menu-btn {
	cursor: pointer;
	line-height: 30px;
}

.menu-btn img {
	width: 40px;
}

.menu-btn:hover {
	transform: scale(1.1);
	transition: 0.5s;
}
/*FIN MENU HAMBURGUESA*/

.btn-logout {
	all: unset;
	color: white;
	background-color: var(--blue);
	cursor: pointer;
	width: auto;
	min-height: 30px;
	padding: 10px 15px;
}

.btn-logout:hover {
	filter: brightness(1.1);
	transition: 0.5s;
}

@media all and (max-width: 600px) {
	header {
		align-items: flex-start;
	}
}

@media all and (max-width: 960px) {
	header {
		padding: 10px 20px;
	}

	.menu-btn {
		right: 20px;
	}
}
