.spaceScroll {
	width: 100%;
	height: 1000px;
}
.containerSkeleton {
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.detail {
	display: flex;
	justify-content: center;
	width: 50%;
}
.contentDetail {
	font-size: var(--text1);
}
