.contentSchool {
	position: relative;
	width: 100%;
	min-height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imgSchoolOne,
.imgSchoolTwo {
	width: 180px;
	position: absolute;
	top: 100px;
	display: none;
}

.imgSchoolOne {
	transform: rotate(20deg);
	left: 10%;
}

.imgSchoolTwo {
	transform: rotate(-20deg);
	right: 10%;
}

.txtContentSchool {
	position: relative;
	min-width: 50%;
	cursor: default;
	z-index: 1;
}

.txtContentSchool p {
	font-size: var(--heading5);
	font-weight: 600;
	color: var(--black);
}

.newDateSchool {
	display: none;
}

.organizationName,
.socialText,
#campaigns {
	display: none;
}

@media all and (min-width: 361px) {
	.newDateSchool {
		display: block;
	}
}

@media all and (min-width: 769px) {
	.contentSchool {
		align-items: baseline;
	}

	.txtContentSchool {
		margin-top: 100px;
	}

	.imgSchoolOne,
	.imgSchoolTwo {
		width: 180px;
		position: absolute;
		top: 180px;
		display: block;
	}
	#landing {
		grid-template-columns: 2fr 1fr;
	}
	#landing .col-1 {
		flex-direction: row-reverse;
	}
	#landing .col-1 a {
		color: white;
	}
	.organizationName {
		display: block;
		font-size: var(--text1);
	}
}

@media all and (min-width: 1105px) {
	.imgSchoolOne {
		left: 15%;
	}

	.imgSchoolTwo {
		right: 15%;
	}
}

@media all and (min-width: 1367px) {
	.social-media li a {
		display: flex;
		align-items: center;
	}
	.socialText {
		display: block;
		color: white;
		font-size: var(--text1);
	}

	.imgSchoolOne {
		left: 20%;
	}

	.imgSchoolTwo {
		right: 20%;
	}
}

@media all and (min-width: 1920px) {
	#landing {
		grid-template-columns: 1fr 1fr 1fr;
	}
	#campaigns {
		display: flex;
		flex-direction: column;
	}
	#campaigns h3 {
		color: var(--lightBlue);
	}
	#campaigns a {
		color: white;
		font-size: var(--text1);
	}
}
