.list-member-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}

@media (min-width: 768px) {
	.list-member-container {
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 1024px) {
	.list-member-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
