.categoriesForm {
	width: 100%;
	min-height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form-container-Category {
	position: relative;
	min-width: 75%;
	max-width: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-field-Category,
.ckeditorForm {
	width: 50%;
}

.ck.ck-reset {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	position: static;
	margin: 15px 0;
}

.ck.ck-reset_all {
	width: 100%;
}

.containerImgCategory {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 50px;
}

.containerImgCategory img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin-top: 25px;
	border-radius: 50%;
}

/****Mensajes****/
.msjIncompleteForm {
	color: var(--darkRed);
	text-align: left;
	width: 70%;
}
.msjIncompleteForm svg {
	margin: 0 5px -2px 0;
}

.msjErrorCategory p,
.msjErrorCategory svg {
	margin: 0 5px -2px 0;
	color: var(--darkRed);
}

.msjOkCategory p,
.msjOkCategory svg {
	margin: 0 5px -2px 0;
	color: var(--darkBlue);
}
/****Mensajes****/

@media all and (min-width: 768px) {
	.categoriesForm {
		flex-direction: row;
	}

	.containerImgCategory {
		margin-top: 40px;
		padding-bottom: 0px;
		margin-right: 80px;
	}

	.input-field-Category,
	.ckeditorForm {
		width: 90%;
	}

	.ck.ck-reset {
		box-sizing: border-box;
		width: 90%;
	}

	.msjIncompleteForm {
		width: 90%;
	}
}
