.categoriesForm{
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container-Category{
    position: relative;
    min-width: 75%;
    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field-Category,
.ckeditorForm{
    width: 70%;
}

.ck.ck-reset{
    box-sizing: border-box;
    width: 70%;
    height: auto;
    position: static;
    margin: 15px 0;
}

.ck.ck-reset_all{
    width: 100%;
}

.containerImgCategory{
    position: relative;
    min-width: 25%;
    max-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.containerImgCategory img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 25px;
}


/****Mensajes****/
.msjIncompleteForm{
    color: var(--darkRed);
    text-align: left;
    width: 70%;
}
.msjIncompleteForm svg{
    margin:0 5px -2px 0;
}

.msjErrorCategory p,
.msjErrorCategory svg{
    margin:0 5px -2px 0;
    color: var(--darkRed);
}

.msjOkCategory p,
.msjOkCategory svg{
    margin:0 5px -2px 0;
    color: var(--darkBlue);
}
/****Mensajes****/



@media all and (max-width: 820px){
    .categoriesForm{
        flex-direction: column;
    }

    .form-container-Category{
        min-width: 100%;
        max-width: 100%;
    }

    .containerImgCategory{
        min-width: 35%;
        max-width: 35%;
        margin-top: 40px;
        padding-bottom: 0px;
    }

    .input-field-Category,
    .ckeditorForm{
        width: 90%;
    }

    .ck.ck-reset{
        box-sizing: border-box;
        width: 90%;
    }

    .msjIncompleteForm{
        width: 90%;
    }
}