.sectionTable{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container-responsive {
  overflow-x: auto;
  width: 100%;
}

.table{
  position: relative;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid  var(--darkBlue);
  background-color: var(--darkBlue);
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: 30%;
}

thead th:nth-child(3) {
  width: 25%;
}

thead th:nth-child(4) {
  width: 20%;
}

th, td {
  padding: 16px;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
  overflow: hidden;
  height: auto;
}

tbody td {
  text-align: center;
}

tbody td img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: var(--lightBlue);
}

thead{
  color: #ffffff;
  text-shadow: 1px 1px 1px black;
}

thead th{
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 1px solid #fff;
}

.btnAddTable,
.btnUpdateTable,
.btnDeleteTable{
  color: var(--lightGrey);
  min-width: 100px;
  min-height: 30px;
  border-radius: 5px;
  padding: 4px;
}

.btnAddTable{
  background-color: var(--green);
  display: block;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.btnUpdateTable{
  background-color: var(--darkBlue);
  border: none;
}
.btnDeleteTable{
  background-color: var(--darkRed);
  border: none;
}

.btnAddTable:hover,
.btnUpdateTable:hover,
.btnDeleteTable:hover {
  opacity: 0.8;
  transition: 0.5s;
}
