.sectionTable {
	position: relative;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 150px auto;
}

.table-container-responsive {
	overflow-x: auto;
	width: 100%;
}

.table {
	position: relative;
	width: 100%;
	border-collapse: collapse;
}

thead th:nth-child(1) {
	width: 25%;
}

thead th:nth-child(2) {
	width: 30%;
}

thead th:nth-child(3) {
	width: 25%;
}

thead th:nth-child(4) {
	width: 20%;
}

th,
td {
	padding: 16px;
}

th {
	letter-spacing: 2px;
}

td {
	letter-spacing: 1px;
	overflow: hidden;
	height: auto;
	max-width: 200px;
}

tbody td {
	text-align: center;
}

tbody td img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

tbody tr:nth-child(even) {
	background-color: var(--lightBlue);
}

thead {
	color: #ffffff;
}

thead th {
	background: var(--blue);
	border: 2px solid var(--blue);
}

.btnAddTable,
.btnUpdateTable,
.btnDeleteTable {
	color: var(--lightGrey);
	min-width: 100px;
	min-height: 30px;
	border-radius: 5px;
	padding: 4px;
}

.btnAddTable {
	background-color: var(--darkBlue);
	display: block;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}
.btnUpdateTable {
	background-color: var(--darkBlue);
	border: none;
}
.btnDeleteTable {
	background-color: var(--darkRed);
	border: none;
}

.btnAddTable:hover,
.btnUpdateTable:hover,
.btnDeleteTable:hover {
	background: red;
}

@media screen and (min-width: 768px) {
	.sectionTable {
		width: 90%;
	}
}

@media screen and (min-width: 1024px) {
	.sectionTable {
		width: 80%;
	}
	td {
		max-width: 335px;
	}
}
