.donacion {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}
.donacion p {
	font-size: var(--text1);
	max-width: 60%;
	text-align: justify;
}

@media screen and (max-width: 1024px) {
	.donacion p {
		max-width: 75%;
	}
}

@media screen and (max-width: 768px) {
	.donacion p {
		max-width: 90%;
	}
}
