.main-footer {
	color: var(--lightGrey);
	background-color: var(--darkBlue);
	padding-top: 3em;
	position: relative;
	bottom: 0;
	width: 100%;
}

ul li {
	font-size: var(--text2);
	list-style-type: none;
	padding: 8px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
}

.col {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
}

.col h4 {
	padding: 8px;
	border-bottom: 2px solid white;
}

.col-1 {
	flex-direction: column;
}

.col-1 h4 {
	font-size: var(--text1);
}

.col-1 img {
	width: 250px;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

.social-media {
	display: flex;
	flex-direction: row;
}

div p {
	text-align: center;
	padding: 8px;
	border-top: 1px solid white;
}

@media (min-width: 800px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr;
		padding: 64px;
	}

	.social-media {
		flex-direction: column;
	}
}
