.cardLinkedin {
	position: relative;
	width: 280px;
	min-height: 335px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid rgba(233, 229, 233);
	border-radius: 15px;
	cursor: default;
	animation-duration: 4s;
	animation-name: animateLinkedin;
	background-color: rgb(255, 255, 255);
}

.titleLinkedin {
	position: relative;
	width: 100%;
	min-height: 60px;
	background-color: rgba(233, 229, 233);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 15px;
	border-radius: 15px 15px 0 0;
	border: none;
}

.titleLinkedin p {
	font-size: var(--heading4);
	font-weight: 900;
	color: rgb(0, 119, 181);
	margin-right: 3px;
}

.ImageLinkedinLogo {
	width: 30px;
	margin-bottom: -5px;
}

.imgSomosMas {
	position: relative;
	width: 100%;
	min-height: 130px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 15px 15px 0 15px;
}

.ImageSomosMasLogo {
	position: relative;
	width: 100px;
	border-radius: 100%;
	border: 1px solid rgba(233, 229, 233);
}

.txtLinkedin {
	position: relative;
	width: 100%;
	min-height: 140px;
	display: flex;
	align-items: left;
	flex-direction: column;
	padding: 0 15px;
	text-align: left;
}

.txtLinkedin p {
	font-size: var(--heading6);
	color: var(--black);
	text-align: left;
	margin-bottom: 4px;
}

.txtLinkedin span {
	font-size: var(--heading5);
	font-weight: 600;
}

.txtLinkedin a {
	font-size: var(--heading6);
	font-weight: 600;
	text-decoration: none;
	color: rgb(0, 119, 181);
	border: 1px solid rgb(0, 119, 181);
	border-radius: 20px;
	text-align: center;
	width: 130px;
	margin: 10px 0 5px 0;
	padding: 6px 0;
}

.txtLinkedin a:hover {
	opacity: 0.7;
}

@keyframes animateLinkedin {
	from {
		transform: scale(0);
		transition: 0.5s;
		opacity: 0;
	}

	to {
		width: 280px;
		height: 335px;
		transition: 0.5s;
		opacity: 1;
	}
}
