.aboutPrincipal-container {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: default;
}

.aboutUs-container {
	position: relative;
	width: 100%;
	min-height: 90vh;
	color: var(--black);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.containerTxtAbout {
	position: relative;
	width: 100%;
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.about-text {
	font-size: var(--text1);
	text-align: justify;
	max-width: 60%;
}

.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.titleAbout {
	margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
	.about-text {
		max-width: 75%;
	}
}

@media screen and (max-width: 768px) {
	.about-text {
		max-width: 90%;
	}

	.containerTxtAbout {
		margin: 70px;
	}
}
