.input-search-container {
	margin: 24px 16px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-top: 40px;
}

.field-search {
	width: 50%;
	margin: auto;
}

.sectionTable {
	flex-direction: column;
	margin-top: 10px;
}
