.containerHeader,
.containerHeaderNav ul,
.containerHeaderButtons {
	display: flex;
	align-items: center;
}

.containerHeader {
	position: relative;
	background-color: var(--darkBlue);
	height: 110px;
	justify-content: space-between;
	padding: 0 20px;
	z-index: 1;
	top: 0;
	width: 100%;
}

.reverse {
	flex-direction: row-reverse;
}

.containerLogo img {
	width: 170px;
}

.containerHeaderNav ul,
.containerHeaderButtons {
	justify-content: center;
	flex-wrap: wrap;
	gap: 13px;
}

.containerHeaderNav ul li {
	list-style: none;
}

.containerHeaderNav ul li a {
	color: white;
	font-size: 1.25rem;
}
.containerHeaderButtons button {
	background-color: var(--lightGrey);
	border: none;
	border-radius: 8px;
	padding: 7px 20px;
	transition: 0.5s;
}

.containerHeaderButtons button {
	color: var(--darkBlue);
	font-size: 1.25rem;
}

.containerHeaderButtons button:hover {
	background-color: var(--lightBlue);
	transform: scale(1.1);
}

.containerHeaderButtons .btnDonar {
	background-color: var(--green);
}

.containerHeaderButtons .btnDonar:hover {
	background-color: var(--green);
	opacity: 0.7;
}

#activePath a {
	background-color: var(--lightGrey);
	border-radius: 5px;
	color: var(--darkBlue);
	padding: 2px 8px;
}
