* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.homePage {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.containerPresentation {
	width: 100%;
}
.containerSlider {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px 0;
}

.containerNovedades,
.containerSlider {
	width: 100%;
	gap: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 24px 0;
	margin-top: 80px;
}

.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.allNewsButton {
	background-color: var(--blue);
	border: none;
	border-radius: 8px;
	color: var(--lightGrey);
	font-size: 1.25rem;
	padding: 7px 20px;
	transition: 0.5s;
	margin-top: 20px;
}

.allNewsButton:hover {
	background-color: var(--darkBlue);
	transform: scale(1.1);
}

.titleHome {
	font-size: var(--heading1);
	margin-bottom: 50px;
	color: var(--black);
}

.containerCarouselHome {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin-top: 120px;
}

.carouselHome {
	position: relative;
	width: 70%;
}

@media all and (max-width: 900px) {
	.carouselHome {
		width: 90%;
	}
}
