* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.homePage {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.containerSlider {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px 0;
}

.containerNovedades {
	width: 100%;
	padding: 40px;
	gap: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 24px 0;
}

.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.allNewsButton {
	background-color: var(--lightGrey);
	border: none;
	border-radius: 8px;
	color: var(--darkBlue);
	font-size: 1.25rem;
	padding: 7px 20px;
	transition: 0.5s;
	margin-top: 20px;
}

.allNewsButton:hover {
	background-color: var(--lightBlue);
	transform: scale(1.1);
}
