.alert-danger {
	color: #b50400;
}

.containerContactForm {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.contact-container {
	position: relative;
	width: 100%;
	background-color: var(--lightGrey);
}
.form-contact {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 60%;
	align-items: center;
}
.btn-submit {
	padding: 10px 15px;
	border-radius: 5px;
	background-color: #18a0fb;
	border: none;
	color: #fff;
	max-width: 128px;
	cursor: pointer;
	width: 20%;
}
.btn-submit:hover {
	filter: brightness(1.1);
}

@media screen and (max-width: 768px) {
	.contact-container {
		width: 90%;
	}
}

.subtitle {
	text-align: center;
	font-weight: bold;
}

.contact-list {
	list-style-type: none;
}
