.alert-danger {
  color: #b50400;
}
.contact-container {
  margin: 15px auto;
  width: 60%;
  max-width: 700px;
}
.form-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-submit {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #18a0fb;
  border: none;
  color: #fff;
  max-width: 128px;
  cursor: pointer;
}
.btn-submit:hover {
  filter: brightness(1.1);
}

@media screen and (max-width: 600px) {
  .contact-container {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .contact-container {
    width: 80%;
  }
}
