.progress-div {
	background-color: var(--lightBlue);
	overflow: hidden;
	height: 5px;
}

.progress {
	background-color: var(--blue);
	transition: 1s ease-in-out;
	height: 100%;
}

.progress-animate {
	animation-name: progress-animation;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes progress-animation {
	0% {
		width: 0%;
		transform: translate(-20%);
	}
	50% {
	}
	100% {
		transform: translate(200%);
	}
}
