.list-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card-info{
    list-style: none;
    padding: 10px 30px;
    background-color: #A1D4F6;
    border-radius: 5px;
}

.card-info:hover{
    cursor: pointer;
    background-color: #61BBF8;
}