@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin:0;
}

:root{
    --dark-grey:#64748b;
    --blue:#9ac9fb;
    --black:#111;
    --red:#db5752;
}


.form-container{
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container form{
    border: 3px solid var(--blue);
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 800px;
    padding:20px;
    width: 50%;
}

.input-field{
    padding: 15px 30px;
    border: 1px solid #c1c1c1;
}

.select-field{
    padding: 10px;
    border: 1px solid #c1c1c1;
}

.submit-btn{
    background-color: #2E86C1;
    padding: 10px 15px;
    border: none;
    color: #fff;
}

.submit-btn:hover{
    cursor: pointer;
    background-color: #3498DB;
}

.div-error{
    height: 20px;
    color: var(--red);
    font-size: 14px;
    
}