.container-slider {
	max-width: 100%;
	min-height: 520px;
	margin: 110px auto 0 0;
	position: relative;
}

.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: opacity ease-in-out 0.4s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.imgSlider img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.active-anim {
	opacity: 1;
}

.btn-slide {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #f1f1f100;
	border: 1px solid rgba(34, 34, 34, 0);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.btn-slide img {
	width: 25px;
	height: 25px;
	pointer-events: none;
}
.prev {
	top: 40%;
	left: 20px;
	transform: translateY(-60%);
}
.next {
	top: 40%;
	right: 20px;
	transform: translateY(-60%);
}

.imgSlider {
	position: relative;
	width: 100%;
	height: 390px;
}

.txtSlider {
	position: relative;
	width: 100%;
	min-height: 130px;
	padding: 10px;
	cursor: default;
}

.txtSlider h1 {
	color: var(--black);
	margin: 10px 0;
	font-size: var(--heading4);
	text-align: left;
	font-weight: 700;
}

.txtSlider p {
	font-size: var(--text1);
	color: var(--black);
	padding: 0;
	margin: 0;
	text-align: left;
}

@media screen and (max-width: 700px) {
	.container-slider {
		margin: 100px 0px 0;
	}
}

@media screen and (max-width: 1024px) {
	.txtSlider {
		display: none;
	}

	.imgSlider {
		height: 500px;
	}

	.prev {
		top: 50%;
		left: 20px;
		transform: translateY(-60%);
	}
	.next {
		top: 50%;
		right: 20px;
		transform: translateY(-60%);
	}
}
