#form-member-creation {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(
      100px,
      1fr
    );
  grid-template-rows: repeat(3, 60px);
  grid-gap: 15px;
  grid-template-areas:
    "image name name"
    "image instagram twitter"
    "imageInput facebook   ."
    "description description description"
    ".   submit   .";
}

.image {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #c1c1c1;
  align-self: center;
  align-content: center;
}

.create-member-input-field {
  display: flex;
  flex-direction: column;
}
.form-profileImage {
}

.create-member-image-input {
  background-color: #9ac9fb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  font-weight: bold;
  color: #111;
  font-family: "Roboto", sans-serif;
  transition: .5s;
}

.create-member-image-input:hover {
  cursor: pointer;
  transform: scale(1.03);
}
