.Article-card-container {
  background-color: #085bb3;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  transition: 0.4s;
}

.Article-card-description {
  padding: 0rem 2rem 0rem 2rem;
  margin: 1rem 0rem 1rem 0rem;
  color: #ececec;
  overflow: hidden;
  font-size: var(--text2);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.Article-card {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Article-card-imgBx,
.Article-card-contentBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Article-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Article-card-contentBx::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left;
  filter: opacity(0.3);
  background: #085bb3;
}

.Article-card-contentBx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Article-card-content {
  position: relative;
  padding: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  justify-content: space-between;
}


.Article-card-info {
  font-size: var(--text1);
  text-transform: capitalize;
  letter-spacing: 1px;
  color: white;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#title.Article-card-info{
  width: 80%;
}

@media screen and (min-width: 426px) {
  .new-list-container{
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .Article-card-content {
  flex-direction: row;
  }
  #title.Article-card-info{
    flex: .7;
  }
}