.create-news-container {
	margin: 15px auto;
	width: 70%;
	max-width: 768px;
}

.create-news-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 70%;
	margin: auto;
}

@media screen and (max-width: 1024px) {
	.create-news-container {
		width: 80%;
	}
}

@media screen and (max-width: 768px) {
	.create-news-container {
		width: 90%;
	}
}
