.create-news-container {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.containerNewsForm {
	position: relative;
	width: 100%;
	min-height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.create-news-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 70%;
	margin: auto;
}

@media screen and (max-width: 1024px) {
	.create-news-form {
		width: 80%;
	}
}

@media screen and (max-width: 768px) {
	.create-news-form {
		width: 90%;
	}
}
